---
- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes

- name: "install dependencies."
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: "Move files to server"
  copy:
    src: /home/circleci/project/backend/
    dest: /home/ubuntu/app

- name: "Install app dependencies"
  shell: |
    cd /home/ubuntu/app
    npm install

- name: "Build package"
  shell: |
    cd /home/ubuntu/app
    npm run build

- name: Start application
  become: true
  shell: |
    cd /home/ubuntu/app
    pm2 start npm --name backend -- run "start:prod"
